/* In this file you can add your custom styles. */
.profilePic {
  box-shadow: 3px 3px 10px black;
  height: 200px;
  width: 200px;
  margin-bottom: 15px;
}

.bio {
  height: 20vh;
  overflow: scroll;
  padding: 6px;
}

.p-cursive {
  font-style: italic;
}

.container {
  margin: 0;
}

.main-container {
  width: 100vw;
}

.post-container {
  overflow: scroll;
}

.profile {
  height: 87vh;
  margin-left: 3vw;
  margin-top: 3vh;
  margin-right: 3vw;
  background-color: #795697;
  padding: 2vh 0 2vh 0;
}

.star img {
  width: 3vw;
  height: 3vw;
}
