/* In this file you can add your custom styles. */
/* .column {
  border: 2px solid white;
}
.row {
  border: 2px solid white;
} */

@font-face {
  font-family: arapey;
  src: url('/../../fonts/arapey-regular.ttf');
}

* {
  color: #F8F9FA;
  font-family: 'arapey';
}

body {
  background-color: #222222;
}

a {
  color: #3B8293;
}

.navTitle {
  color: #561F9F;
}

.voteSection {
  border-right: 2px solid #72787F;
}

.card {
  width: 35vw;
}

.profilePic {
  box-shadow: 3px 3px 10px black;
  height: 200px;
  width: 200px;
  margin-bottom: 15px;
}

.bio {
  height: 20vh;
  overflow: scroll;
  padding: 6px;
}

.p-cursive {
  font-style: italic;
}

.container {
  margin: 0;
}

.main-container {
  width: 100vw;
}

.post-container {
  overflow: scroll;
}

.profile {
  height: 87vh;
  margin-left: 3vw;
  margin-top: 3vh;
  margin-right: 3vw;
  padding: 2vh 0 2vh 0;
}

.star img {
  width: 3vw;
  height: 3vw;
}

.like {
  visibility: visible;
}

.unlike {
  visibility: hidden;
}

.sortButton {
  background-color: #561F9F;
  border-color: #561F9F;
}

button:hover {
  cursor: pointer;
}
