/* In this file you can add your custom styles. */
.profilePic {
  box-shadow: 3px 3px 10px black;
  height: 200px;
  width: 200px;
  margin-bottom: 15px;
}

.bio {
  height: 20vh;
  overflow: scroll;
  padding: 6px;
}

.p-cursive {
  font-style: italic;
}
